@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-slider .slick-arrow.slick-disabled {
  display: none !important;
}

.slick-current .use-case-card {
  border: 2px solid #79cc8b;
}

.jumbotron .slick-dots {
  bottom: 70px !important;
}

.card-slide .slick-dots {
  bottom: 280px !important;
}

.slick-dots li button:before {
  color: #79cc8b !important;
  font-size: 10px !important;
}

@layer base {
  body{
    @apply box-border text-black font-montserrat;
  }
  nav {
    @apply px-36 flex justify-between items-center;
  }

  li {
    @apply text-white;
  }

  h1 {
    @apply text-center text-2xl sm:text-left md:text-3xl lg:text-5xl;
  }

  p.mulish {
    @apply font-mulish text-custom-xsm;
  }

  section.padded {
    @apply px-5 sm:px-16 lg:px-36;
  }
}
