@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.slick-slider .slick-arrow.slick-disabled{
      display: none !important;
  }

.slick-current .use-case-card{
    border: 2px solid #AED652;
}

.jumbotron .slick-dots{
  bottom: 70px !important;
}

.card-slide .slick-dots {
  bottom: 280px !important;
}

.slick-dots li button:before {
    color: #AED652 !important;
    font-size: 10px !important;
}


@layer base {

    nav {
      @apply hidden text-white md:flex w-full h-14 justify-center gap-10 items-center font-semibold;
      @apply font-sans;
    }
    section.padded{
      @apply px-5 sm:px-16 lg:px-52 py-10;
    }
    
    h1{
      @apply text-center text-green-400 text-2xl sm:text-left md:text-3xl lg:text-4xl;
      @apply font-heading;
    }

    h1.main-header{
      @apply text-4xl md:text-7xl font-bold text-mcmendel-green-primary;
      @apply font-heading;
    }

    h2.sub-header{
      @apply text-xl md:text-2xl text-mcmendel-orange-primary font-semibold text-center mt-2 tracking-mcmendel-2em;
      @apply font-sans;
    }
    


    h2{
      @apply text-2xl mb-5;
      @apply font-sans;
    }

    p.lg{
      @apply text-lg sm:text-mcmendel-rem-1.2 text-justify opacity-70 tracking-wide;
    }

    footer{
      height: 72vh;
      @apply bg-green-100 w-full p-5;
    }
    
    /* 
    h3{
        @apply
    } */
}

@layer utilities {
    .card-objective{
        @apply h-56 flex cursor-pointer justify-center items-center rounded-md bg-white w-full px-10;
    }

    .card-about{
        @apply bg-green-100 py-5 min-h-60 px-10 rounded-md;
    }
}