@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: black;
}

.slick-slider .slick-arrow.slick-disabled{
  display: none !important;
}

.slick-current .use-case-card{
border: 2px solid #79CC8B;
}

.jumbotron .slick-dots{
bottom: 70px !important;
}

.card-slide .slick-dots {
bottom: 280px !important;
}

.slick-dots li button:before {
color: #79CC8B !important;
font-size: 10px !important;
}


@layer base {

  nav{
    @apply px-36 flex justify-between items-center;
  }

  h1{
    @apply text-center text-2xl sm:text-left md:text-3xl lg:text-5xl;
  }

  p.mulish{
    @apply font-mulish text-custom-xsm;
  }

  section.padded {
    @apply px-5 sm:px-16 lg:px-36;
  }
}
